/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
.to-do-list{
  color: #242424;
}
body {
  font-family: sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
  text-align: center;
}

.app {
  max-width: 500px;
  margin: 2rem auto;
  background: #fff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.header {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 1rem;
}

.header input {
  padding: 8px;
  flex: 1;
}

.header button {
  padding: 8px 16px;
}

ul {
  list-style-type: none;
  padding: 0;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #32f80a;
  margin-bottom: 8px;
  padding: 10px;
  border-radius: 5px;
}

.todo-item.completed span {
  text-decoration: line-through;
  color: gray;
}

.todo-item button {
  margin-left: 5px;
}
